@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1920px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
section,
div,
header,
footer,
main,
aside,
nav,
blockquote,
q,
p,
span {
  margin: 0;
  padding: 0;
}

img,
svg {
  vertical-align: middle;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.wrapper {
  min-height: 100vh;
  /*     display: flex;
  flex-direction: column; */
}

footer {
  margin-top: auto;
}

.spacing-top {
  margin-top: 2rem;
}

.spacing-bottom {
  margin-bottom: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 2rem;
}
@media (min-width: 1400px) {
  .center {
    padding-inline: 0;
  }
}

.current {
  color: var(--color-primary);
}

.headline {
  text-align: center;
  padding-block: 2rem;
}

.border {
  border: 1px solid var(--color-gray);
}

.borderShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error-message, .field-validation-error {
  color: red;
  font-size: 0.8em;
}

.form-invalid-input {
  color: red;
  font-size: 0.8em;
}

.success-message {
  background-color: var(--color-submit);
  border-radius: 10px 10px;
  border: 1px solid var(--color-border-primary);
  padding: 0.3rem;
  text-align: center;
}

:root {
  --color-default: #535656;
  --color-dark: #171717;
  --color-primary: #4F5955;
  --color-primary-light: #6d7573;
  --color-primary-dark: #2f3331;
  --color-secondary: #D9C3A9;
  --color-accent: #F2EDDC;
  --color-gray: #F7F7F7;
  --color-light: #FFFFFF;
  --color-gray-dark: #9C9EA6;
  --color-submit: #fdf6e3;
  --color-border-border-dark-transparent: rgba(51, 51, 51, 0.10);
  --color-border-primary: #424946;
  --color-border-secondary: #c0ac94;
  --color-border-accent: #d5d1c2;
  --color-border-gray: #e3e3e3;
  --color-border-light: #E6E6E6;
  --color-border-light-transparent: rgba(255, 255, 255, 0.95);
}

:root.dark-theme {
  --color-dark: #e0e0e0;
  --color-primary: #a3b3af;
  --color-primary-light: #c1ccc9;
  --color-primary-dark: #6f7976;
  --color-secondary: #3c2f26;
  --color-accent: #1a1a1a;
  --color-gray: #2b2b2b;
  --color-light: #171717;
  --color-border-dark: #cccccc;
  --color-border-border-dark-transparent: rgba(204, 204, 204, 0.10);
  --color-border-primary: #b6bcb9;
  --color-border-secondary: #42392e;
  --color-border-accent: #2a2925;
  --color-border-gray: #474747;
  --color-border-light: #2c2c2c;
  --color-border-light-transparent: rgba(23, 23, 23, 0.95);
}

body {
  color: var(--color-border-secondary);
}

.btn-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-dark:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  outline: none !important;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-primary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  outline: none !important;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  outline: none !important;
}

.btn-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-accent:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
}
.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
  outline: none !important;
}

.btn-gray {
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-gray:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.btn-gray:hover, .btn-gray:focus, .btn-gray:active {
  outline: none !important;
}

.btn-light {
  background-color: var(--color-light);
  color: var(--color-primary);
  border-color: var(--color-primary);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-light:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
  outline: none !important;
}

.btn-menu {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-light);
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn-menu:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
  border-color: var(--color-accent);
}
.btn-menu:hover, .btn-menu:focus, .btn-menu:active {
  outline: none !important;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-left {
  align-self: left;
}

.button-right {
  align-self: right;
}

body {
  color: var(--color-border-default);
}

span {
  color: var(--color-secondary);
  font-weight: 600;
}

.bg-secondary span {
  color: var(--color-primary);
}

.bg-dark {
  background-color: var(--color-dark);
  color: var(--color-default);
}

.bg-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.bg-accent {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.bg-gray {
  background-color: var(--color-gray);
  color: var(--color-default);
}

.bg-light {
  background-color: var(--color-light);
  color: var(--color-default);
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

h3 {
  color: var(--color-secondary);
}

h4 {
  color: var(--color-primary);
}

h5 {
  color: var(--color-primary);
}

h6 {
  color: var(--color-secondary);
}

a {
  color: var(--color-secondary);
}
a:hover {
  color: var(--color-primary);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.btn-dark,
.btn-primary,
.btn-secondary,
.btn-accent,
.btn-gray,
.btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px 40px;
  border: 1px solid;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-accent:hover,
.btn-gray:hover,
.btn-light:hover {
  transition: ease-in 0.2s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: ease-in 0.2s;
  text-decoration: none;
}

.btn-search {
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-search:hover {
  scale: 1.15;
  transition: ease-in 0.2s;
  color: var(--color-primary);
}
.btn-search:active {
  scale: 0.95;
}

.btn-submit {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  padding: 15px 40px;
  border: 1px solid;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: var(--color-submit);
  border: var(--color-border-gray) !important;
  margin-top: 1rem;
}
.btn-submit:hover {
  transition: ease-in 0.2s;
  text-decoration: none;
}

.container, container-fluid {
  position: relative;
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

a {
  display: inline-block;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  /*            content: '\f08e';
              font-family: "Font Awesome 6 Pro";*/
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-left: 3px;
}

p {
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 40px;
}
@media (min-width: 1920px) {
  h1 {
    font-size: 70px;
  }
}

h2 {
  font-size: 27px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 22px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 15px;
  }
}

h4 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.image-slider {
  margin-bottom: 3rem;
  margin-top: 0;
}
.image-slider .slides {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media (min-width: 768px) {
  .image-slider .slides {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
  }
}
.page-title {
  background-color: var(--color-gray);
  background-image: url(../../images/generic/background-img-hero.svg);
  height: fit-content;
}
.page-title .content {
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 11px rgba(153, 153, 153, 0.4117647059);
}
.page-title .content .breadcrumb {
  display: flex;
  flex-direction: row;
}
.page-title .content .breadcrumb li {
  list-style-type: none;
}
.page-title .content .breadcrumb a {
  color: var(--color-default);
}
.page-title .content .breadcrumb .divider {
  color: var(--color-default);
  margin-inline: 0.5rem;
}

.active {
  color: var(--color-secondary);
}

.pagination .container {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: baseline;
}
.pagination .container .change {
  padding: 0.5rem 1rem;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 0.5rem;
  cursor: pointer;
}
.pagination .container .change.inactive {
  color: #ccc;
  cursor: default;
  pointer-events: none;
}
.pagination .container .pages {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.pagination .container .pages li a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 1rem;
}
.pagination .container .pages li.active a {
  border: 1px solid var(--color-secondary);
}

.background-image-section {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.background-image-container {
  position: absolute;
  top: -115px;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.image-success-story {
  position: absolute;
  right: 0;
  object-fit: contain;
  top: 23px;
}

#map img {
  width: 100% !important;
}
#map .background-image-section img {
  width: 100% !important;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.form .form-input-group {
  display: flex;
  flex-direction: column;
}
.form .form-input-group input {
  padding: 0.8rem;
  border: 1px solid var(--color-border-light);
  color: var --color-primary;
  font-style: italic;
}
.form .form-input-group textarea {
  height: 150px;
}
.form .form-input-group .form-input-error {
  color: red;
  font-size: 0.9em;
  font-weight: 400;
}
.form .form-button {
  grid-column: 1/span 2;
  justify-self: center;
  margin-top: 1rem;
  color: var(--color-accent);
  border: none;
}

.questions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 5rem;
}
.questions .container .question {
  padding: 0.8rem;
  border: 1px solid var(--color-border-light);
  color: var --color-primary;
  font-style: italic;
}
.questions .container .question .question-input {
  font-weight: 500;
  background-color: --var-color-accent;
  padding: 0.3rem;
  border-radius: 50px 50px;
  text-align: center;
}
.questions .container .question .author {
  font-size: 0.8em;
  text-align: center;
}

header {
  /*    display: flex;
  flex-direction: column;*/
}
header .topbar {
  background-color: var(--color-primary);
  padding: 1rem;
}
header .topbar .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .topbar .container .content .adress {
  display: none;
}
@media (min-width: 768px) {
  header .topbar .container .content .adress {
    display: contents;
  }
}
header .topbar .container .content .adress p {
  color: white;
  padding: 0;
}
header .topbar .container .content .ext-links {
  display: flex;
}
header .topbar .container .content .ext-links a {
  border-left: 1px solid var(--color-primary-light);
  padding-inline: 0.6rem;
  color: var(--color-gray);
}
header .topbar .container .content .ext-links a:last-child {
  border-right: 1px solid var(--color-primary-light);
}
header .topbar .container .content .ext-links a:hover {
  color: var(--color-secondary);
}
header .navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
@media (min-width: 768px) {
  header .navbar .container {
    margin: 0 auto;
  }
}
header .navbar .container .links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  display: none;
}
@media (min-width: 768px) {
  header .navbar .container .links {
    display: flex;
  }
}
header .navbar .container .links li {
  list-style: none;
}
header .navbar .container .links a {
  color: var(--color-primary);
  font-weight: 700;
}
header .navbar .container .links a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}
header .navbar .container .btn-search {
  position: absolute;
  top: -50px;
  right: 0px;
  padding: 0.6rem;
}
@media (min-width: 768px) {
  header .navbar .container .btn-search {
    position: initial;
  }
}
header .navbar .container .btn-menu {
  display: block;
}
@media (min-width: 768px) {
  header .navbar .container .btn-menu {
    display: none;
  }
}

.hero-header {
  background-color: var(--color-gray);
}
.hero-header .container .content .breadcrumb {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-left: 0;
}
.hero-header .container .content .breadcrumb li {
  list-style: none;
}

#hero {
  margin-block: 3rem;
}
#hero .container .background-image-section {
  opacity: 20%;
}
@media (min-width: 768px) {
  #hero .container .background-image-section {
    opacity: 100%;
  }
}
@media (min-width: 1400px) {
  #hero .container .background-image-section {
    height: 50vh;
  }
}
#hero .container .content {
  padding-block: 2rem;
}
@media (min-width: 1400px) {
  #hero .container .content {
    padding-block: 4rem;
  }
}
@media (min-width: 768px) {
  #hero .container .content h1 {
    font-size: 50px;
  }
}
#hero .container .content p {
  width: 56%;
}
@media (min-width: 768px) {
  #hero .container .content p {
    width: 70%;
  }
}
@media (min-width: 1400px) {
  #hero .container .content p {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #about-us .container {
    padding-block: 3rem;
  }
}
@media (min-width: 768px) {
  #about-us .container .dynamic-container {
    margin-left: 4rem;
  }
}
@media (min-width: 1400px) {
  #about-us .container .dynamic-container {
    margin-left: 10rem;
  }
}
#about-us .container .form-header {
  padding: 1rem;
}
#about-us .container .input-item {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}
#about-us .container .input-item input {
  padding: 0.3rem;
  width: 100%;
}
#about-us .container select {
  width: 100%;
  padding: 0.3rem;
}
#about-us .container button {
  width: 100%;
}
#about-us .container .content img {
  padding: 3rem;
  width: 100%;
}
#about-us .container .content p {
  color: var(--color-default);
  margin-left: 0;
}

.dynamic-container img {
  width: 50%;
  display: block;
}
@media (min-width: 768px) {
  .dynamic-container img {
    display: inline;
    width: 80%;
  }
}
@media (min-width: 1400px) {
  .dynamic-container img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #about-us .container .content img {
    padding: 0rem;
  }
  #about-us .container .content p {
    margin-left: 1rem;
  }
}
@media (min-width: 1400px) {
  #about-us .container .content p {
    color: var(--color-default);
    margin-left: 5rem;
  }
}
#reviews {
  padding-block: 2rem;
  text-align: center;
}
#reviews .container h5 {
  margin-left: 1rem;
}
#reviews .container img {
  padding: 1rem;
  margin: auto;
}
@media (min-width: 768px) {
  #reviews .container h5 {
    margin-left: 0;
  }
  #reviews .container img {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  #reviews {
    text-align: left;
  }
  #reviews .container h5 {
    margin-left: 0;
  }
}
@media (min-width: 1920px) {
  #reviews {
    padding-block: 3rem;
  }
  #reviews .container .content {
    margin-top: 7rem;
  }
  #reviews .container img {
    width: fit-content;
  }
  #reviews .container h3, #reviews .container h2, #reviews .container p {
    padding-left: 2rem;
  }
}
.bg-primary {
  padding: 1rem;
}
@media (min-width: 768px) {
  .bg-primary {
    padding: 1rem;
  }
}
@media (min-width: 1400px) {
  .bg-primary {
    padding: 3rem;
  }
}
.bg-primary input {
  width: 100%;
}
.our-services {
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 7rem;
}
.our-services .container .content {
  max-width: 1200px;
}
.our-services .container .content .headline {
  text-align: center;
}
.our-services .container .content .headline h2 {
  width: 90%;
  margin: 0 auto;
}
.our-services .container .content .content-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5.5rem;
  row-gap: 2.5rem;
}
@media (min-width: 768px) {
  .our-services .container .content .content-grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    /* Max 2 kolumner */
  }
}
@media (min-width: 1400px) {
  .our-services .container .content .content-grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    /* Max 3 kolumner */
  }
}
.our-services .container .content .content-grid .item-container {
  background-color: var(--color-light);
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 1px solid var(--color-gray);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.our-services .container .content .content-grid .item-container .services-item-image {
  width: 100%;
}
.our-services .container .content .content-grid .item-container .item-text {
  padding: 1rem;
  text-align: left;
}

.service-details .container .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding-top: 3rem;
}
@media (min-width: 1400px) {
  .service-details .container .flex {
    flex-direction: row-reverse;
  }
}
.service-details .container .flex .page-content {
  padding-top: 1.5rem;
}
.service-details .container .flex .page-content img {
  width: 100%;
}
.service-details .container .flex aside {
  border-right: 1px solid var(--color-gray);
}
@media (min-width: 1400px) {
  .service-details .container .flex aside {
    padding-right: 3rem;
  }
}
.service-details .container .flex aside .sidebar-info img {
  width: 100%;
}
.service-details .container form {
  grid-area: form;
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-gray);
  padding-block: 3rem;
}
.service-details .container form .form-input-group {
  display: flex;
  flex-direction: column-reverse;
}
.service-details .container form .form-input-group input {
  padding: 0.5rem;
}
.service-details .container form .form-input-group .form-textarea {
  height: 150px;
}
.service-details .container form .form-button {
  margin-top: 1rem;
}

@media (min-width: 1400px) {
  .recent-projects {
    margin-top: 4rem;
  }
}
@media (min-width: 1400px) {
  .recent-projects .container {
    margin-top: 20rem;
  }
}
.recent-projects .container .headline {
  padding-top: 0;
}
.recent-projects .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.recent-projects .container .content .item-container {
  position: relative;
}
.recent-projects .container .content .item-container img {
  height: 100%;
  width: 100%;
}
.recent-projects .container .content .item-container .item-footer {
  background: rgba(31, 47, 30, 0.8);
  color: var(--color-secondary);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  padding: 0.4rem;
  width: -webkit-fill-available;
  color: white;
  font-weight: 200;
}
.recent-projects .container .content .item-container .item-footer:hover {
  background-color: var(--color-primary);
  opacity: 1;
}
.recent-projects .container .content .item-container .item-footer:hover h6 {
  color: var(--color-secondary);
  font-weight: 600;
}
.recent-projects .container .content .item-container .item-footer h6 {
  color: white;
  font-weight: 200;
}
.recent-projects .container .content .item-container .item-footer .row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.our-projects .container {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .our-projects .container {
    flex-direction: row-reverse;
    column-gap: 2rem;
  }
}
.our-projects .container .sidebar-right .tag-content .tag-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 0;
}
.our-projects .container .sidebar-right .tag-content .tag-list .tag-item {
  list-style-type: none;
  text-align: center;
  align-content: center;
  list-style-type: none;
  border: 1px solid var(--color-border-light);
  border-radius: 30px;
  padding: 0.3rem;
}
.our-projects .container .sidebar-right .text-content {
  background-color: var(--color-primary);
  padding: 1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .our-projects .container .sidebar-right .text-content {
    text-align: left;
  }
}
.our-projects .container .sidebar-right .text-content h4 {
  color: var(--color-accent);
}
.our-projects .container .sidebar-right .text-content .support-text {
  color: var(--color-accent);
}
.our-projects .container .projects-content {
  border-right: 1px solid var(--color-gray);
}
.our-projects .container .projects-content .item {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .our-projects .container .projects-content .item {
    text-align: left;
    row-gap: 3rem;
  }
}
@media (min-width: 1400px) {
  .our-projects .container .projects-content .item {
    flex-direction: row;
    text-align: left;
    row-gap: 3rem;
  }
}
.our-projects .container .projects-content .item .item-content {
  text-align: center;
  padding-inline: 2rem;
}
@media (min-width: 768px) {
  .our-projects .container .projects-content .item .item-content {
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .our-projects .container .projects-content .item .item-content {
    padding: 0;
    padding-right: 4rem;
  }
}
@media (min-width: 768px) {
  .our-projects .container .projects-content .item .item-content h4 {
    text-align: left;
  }
}
.our-projects .container .projects-content .item .item-content p {
  width: 60%;
  margin: auto;
}
@media (min-width: 768px) {
  .our-projects .container .projects-content .item .item-content p {
    width: 100%;
  }
}
.project-details {
  margin-top: 4rem;
}
.project-details .container {
  display: flex;
  flex-direction: row;
  gap: 8rem;
}
.project-details .container .page-content {
  margin-bottom: 3rem;
}
.project-details .container .page-content img {
  display: block;
}

.project-details-with-sidebar-left {
  margin-top: 4rem;
}
.project-details-with-sidebar-left .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-left .container {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
  }
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-left .container .page-content {
    border-left: 1px solid var(--color-border-gray);
    padding-left: 3rem;
  }
}
.project-details-with-sidebar-left .container .sidebar-content h3 {
  text-align: center;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-left .container .sidebar-content h3 {
    text-align: left;
  }
}
.project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item {
    justify-content: left;
  }
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item {
    flex-direction: row;
    text-align: left;
    row-gap: 1rem;
    border-bottom: 1px solid var(--color-border-gray);
    padding-bottom: 2rem;
  }
  .project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item:last-child {
    border-bottom: none;
  }
}
.project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item .item-img img {
  width: 100%;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item .item-img img {
    width: 100%;
  }
}
.project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item .item-content {
  text-align: center;
  padding-inline: 2rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item .item-content {
    text-align: left;
    align-self: baseline;
    padding: 0;
    margin-left: 10px;
  }
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item .item-content {
    padding: 0;
    margin-left: 0;
    width: max-content;
  }
}
@media (min-width: 768px) {
  .project-details-with-sidebar-left .container .sidebar-content .projects-content .recent-project-item .item-content h4 {
    text-align: left;
  }
}
.project-details-with-sidebar-left .container .sidebar-content .tag-content {
  width: 60%;
  margin: auto;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-left .container .sidebar-content .tag-content {
    width: 100%;
  }
}
.project-details-with-sidebar-left .container .sidebar-content .tag-content .tag-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 0;
}
.project-details-with-sidebar-left .container .sidebar-content .tag-content .tag-list .tag-item {
  list-style-type: none;
  text-align: center;
  align-content: center;
  list-style-type: none;
  border: 1px solid var(--color-border-light);
  border-radius: 30px;
  padding: 0.3rem;
}
.project-details-with-sidebar-left .container .sidebar-content .support-content {
  background-color: var(--color-primary);
  padding: 1rem;
  text-align: center;
  width: 60%;
  margin: auto;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-left .container .sidebar-content .support-content {
    text-align: left;
    width: 100%;
  }
}
.project-details-with-sidebar-left .container .sidebar-content .support-content h4 {
  color: var(--color-accent);
}
.project-details-with-sidebar-left .container .sidebar-content .support-content .support-text {
  color: var(--color-accent);
}

.project-details-with-sidebar-right {
  margin-top: 4rem;
}
.project-details-with-sidebar-right h3 {
  text-align: center;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-right h3 {
    text-align: left;
  }
}
.project-details-with-sidebar-right .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-right .container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-right .container .page-content {
    border-right: 1px solid var(--color-border-gray);
    padding-right: 3rem;
  }
}
.project-details-with-sidebar-right .container .sidebar-content h2 {
  text-align: center;
}
.project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item {
    justify-content: left;
  }
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item {
    flex-direction: row;
    text-align: left;
    row-gap: 1rem;
    border-bottom: 1px solid var(--color-border-gray);
    padding-bottom: 2rem;
  }
  .project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item:last-child {
    border-bottom: none;
  }
}
.project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item .item-img img {
  width: 100%;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item .item-img img {
    width: 100%;
  }
}
.project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item .item-content {
  text-align: center;
  padding-inline: 2rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item .item-content {
    text-align: left;
    align-self: baseline;
    padding: 0;
    margin-left: 10px;
  }
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item .item-content {
    padding: 0;
    margin-left: 0;
    width: max-content;
  }
}
@media (min-width: 768px) {
  .project-details-with-sidebar-right .container .sidebar-content .projects-content .recent-project-item .item-content h4 {
    text-align: left;
  }
}
.project-details-with-sidebar-right .container .sidebar-content .tag-content {
  width: 60%;
  margin: auto;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-right .container .sidebar-content .tag-content {
    width: 100%;
  }
}
.project-details-with-sidebar-right .container .sidebar-content .tag-content .tag-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 0;
}
.project-details-with-sidebar-right .container .sidebar-content .tag-content .tag-list .tag-item {
  list-style-type: none;
  text-align: center;
  align-content: center;
  list-style-type: none;
  border: 1px solid var(--color-border-light);
  border-radius: 30px;
  padding: 0.3rem;
}
.project-details-with-sidebar-right .container .sidebar-content .support-content {
  background-color: var(--color-primary);
  padding: 1rem;
  text-align: center;
  width: 60%;
  margin: auto;
}
@media (min-width: 1400px) {
  .project-details-with-sidebar-right .container .sidebar-content .support-content {
    text-align: left;
    width: 100%;
  }
}
.project-details-with-sidebar-right .container .sidebar-content .support-content h4 {
  color: var(--color-accent);
}
.project-details-with-sidebar-right .container .sidebar-content .support-content .support-text {
  color: var(--color-accent);
}

#success-stories {
  margin-top: 0;
  padding-top: 4rem;
  margin-bottom: 8rem;
}
@media (min-width: 1400px) {
  #success-stories {
    margin-bottom: 18rem;
  }
}
#success-stories .image-success-story {
  width: 100%;
  position: relative;
}
@media (min-width: 1400px) {
  #success-stories .image-success-story {
    position: absolute;
    right: -10px;
    object-fit: contain;
    top: 23px;
  }
}

.footer {
  position: relative;
}
.contact-section {
  background-color: none;
  padding-bottom: 0;
  padding-top: 4rem;
}
.contact-section .container {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .contact-section .container {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .contact-section .container {
    column-gap: 5rem;
  }
}
.contact-section .container .contact-images {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media (min-width: 768px) {
  .contact-section .container .contact-images {
    -webkit-transform: none;
    transform: none;
  }
}
.contact-section .container .contact-images .img-background {
  position: relative;
  bottom: 0;
}
@media (min-width: 768px) {
  .contact-section .container .contact-images .img-background {
    bottom: -81px;
  }
}
.contact-section .container .contact-images .img-background img {
  width: 50%;
}
@media (min-width: 768px) {
  .contact-section .container .contact-images .img-background img {
    width: 100%;
  }
}
.contact-section .container .contact-images .img-front {
  position: absolute;
  top: -2.8px;
}
@media (min-width: 768px) {
  .contact-section .container .contact-images .img-front {
    top: 75px;
  }
}
@media (min-width: 1400px) {
  .contact-section .container .contact-images .img-front {
    top: 119px;
  }
}
.contact-section .container .contact-images .img-front img {
  width: 50%;
}
@media (min-width: 768px) {
  .contact-section .container .contact-images .img-front img {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .contact-section .container .contact-images .img-front img {
    width: 80%;
  }
}
.contact-section .container .content .headline h2 {
  text-align: left;
  margin-bottom: 3rem;
  margin-left: 0;
}
.contact-section .container .content .contact-item {
  display: grid;
  grid-template-areas: "icon headline" "icon subline";
  grid-template-columns: auto 2fr;
  gap: 1rem;
}
.contact-section .container .content .contact-item .left-icon i {
  grid-area: icon;
}
.contact-section .container .content .contact-item .contact-details {
  text-align-last: start;
}
.contact-section .container .content .contact-item .contact-details h6 {
  grid-area: headline;
}
.contact-section .container .content .contact-item .contact-details .subline {
  grid-area: subline;
}

.container .team-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.container .team-members .team-member {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border-light);
}
.container .team-members .team-member .subtext {
  padding: 1rem;
}
.container .team-members .team-member .subtext h4 {
  color: var(--color-default);
}
.container .team-members .team-member .subtext p {
  font-size: 0.9em;
  color: var(--color-gray-dark);
}

.contact-form {
  padding: 3rem;
}
.contact-form .container {
  display: grid;
  box-shadow: 0px 0px 6px gray;
  padding: 3rem;
  background: white;
}
@media (min-width: 1400px) {
  .contact-form .container {
    position: absolute;
    top: 68rem;
    left: 15rem;
  }
}
@media (min-width: 1920px) {
  .contact-form .container {
    top: 78rem;
    left: 36rem;
  }
}
.contact-form .container .headline {
  width: 50%;
  margin: auto;
}
.contact-form .container form .umb-block-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.contact-form .container form .umb-block-list .form-input-group {
  display: flex;
  flex-direction: column;
}
.contact-form .container form .umb-block-list .form-input-group input, .contact-form .container form .umb-block-list .form-input-group select {
  padding: 0.8rem;
  border: 1px solid var(--color-border-light);
  color: var --color-primary;
  font-style: italic;
}
.contact-form .container form .umb-block-list .form-input-group .form-input-error {
  color: red;
  font-size: 0.9em;
  font-weight: 400;
}
.contact-form .container form .form-button {
  grid-column: 1/span 2;
  justify-self: center;
  padding-inline: 2.5rem;
  color: var(--color-accent);
  border: none;
}

/*.contact-form {
    margin-top: 29rem;
    padding: 3rem;

    .container {
        display: grid;
        box-shadow: 0px 0px 6px gray;
        padding: 3rem;
        background: white;

        @include desktop {
        position: absolute;
        top: 70rem;
        left: 15rem;

        }

        .headline {
            width: 50%;
            margin: auto;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            .form-input-group {
                display: flex;
                flex-direction: column;

                .form-label {
                }

                .form-input {
                    padding: 0.8rem;
                    border: 1px solid var(--color-border-light);
                    color: var (--color-primary);
                    font-style: italic;
                }

                .form-input-error {
                    color: red;
                    font-size: 0.9em;
                    font-weight: 400;
                }
            }

            .form-button {
                grid-column: 1 / span 2;
                justify-self: center;
                padding-inline: 2.5rem;
                color: var(--color-accent);
                border: none;
            }
        }
    }
}


*/
#trusted-group .container {
  display: flex;
  text-align: center;
}
#trusted-group .btn {
  margin-bottom: 3rem;
}
#trusted-group img {
  width: 100%;
}
