@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{


        var italicContent = Model.Content.Value<string>("italicParagraphContent");
}

@*Skriver endast ut p om text finns*@
@if(!string.IsNullOrEmpty(italicContent))  
{  
    <p><i>@italicContent</i></p>
}



