@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var linkText = Model?.Content.Value<string>("linkText");
    var linkUrl = Model?.Content.Value<string>("linkUrl");
    var isExternal = (Model?.Content.Value<bool>("isExternal")) ? "is-external" : "";



}
<div>
    <a href="@linkUrl" class="@isExternal" >@linkText</a>
</div>