@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco3.FormModels

@{
    var formModel = new QuestionFormModel();
    var formTitle = Model.Content.Value<string>("formTitle");


	var selection = Umbraco.Content(Guid.Parse("b021b6ea-0693-4b01-af67-160dfab3d7b1"))!
    .ChildrenOfType("questionItem")!
    .Where(x => x.IsVisible());
}

<h4>@formTitle</h4>



<section class="questions">
    <div class="container">

        @foreach(var item in selection) {
            var author = item.Value("questionAuthor");
            var question = item.Value("questionText");
            var email = item.Value("questionEmail");

            <div class="question">
                <div class="question-input">@question</div>
                <div class="author">@author</div>
            </div>
        }
    </div>
</section>