@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco3.FormModels

@{
    var formTitle = Model.Content.Value<string>("formTitle");
    var formModel = new QuestionFormModel(); 
}

<h4>@formTitle</h4>

<section class="form">
    <partial name="Partials/Forms/questionFormPartial" model="formModel" />
</section>