@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	var selection = Umbraco.Content(Guid.Parse("b021b6ea-0693-4b01-af67-160dfab3d7b1"))!
    .ChildrenOfType("testimonialItem")!
    .Where(x => x.IsVisible());
}

<section>
    <div class="container">

        @foreach(var item in selection) {
            var author = item.Value("testimonialAuthor");
            var message = item.Value("testimonialMessage");

            <div class="testimonial">
                <div class="quote">@message</div>
                <div class="author">@author</div>
            </div>
        }
    </div>
</section>
