@using Umbraco3.FormModels
@model QuestionFormModel


@using (Html.BeginUmbracoForm("QuestionForm", "FormSurface", FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="form-input-group">
        <input class="form-input" asp-for="Name" placeholder="Your Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-input-group">
        <input class="form-input" asp-for="Email" placeholder="Your Email"  />
        <span asp-validation-for="Email"></span>

    </div>
    <div class="form-input-group">
        <textarea class="form-input" asp-for="Message" placeholder="Write your question here.." ></textarea>
        <span asp-validation-for="Message"></span>

    </div>
    <div class="form-button">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
}
