@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
}

            <!--
            <div class="topbar">
                <div class="container">
                    <div class="content">
                        <div class="adress">
                            <p>Klarabergsviadukten 90, 111 64 Stockholm</p>
                        </div>
                        <div class="ext-links">
                            <a href="">F</a>
                            <a href="">T</a>
                            <a href="">IN</a>
                        </div>
                    </div>
                </div>

            </div>
            Navigation
            
            <div class="navbar">
                <div class="logo">
                    <a href="#home"><img src="images/logotype.svg" alt="Onatrix"></a>
                </div>
                <ul class="links">
                    <li><a href="about">About</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="projects">projects</a></li>
                    <li><a href="contact">contact</a></li>
                </ul>
                <a href="#" class="btn-search"><i class="fa-light fa-magnifying-glass"></i></a>
                <button class="toggle_btn btn btn-menu">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            -->