.container, container-fluid {
    position: relative;
    width: 100%;
    padding-inline: 1rem;
    margin-inline: auto;
}

.container {
    @include tablet {
        max-width: 720px;
    }

    @include desktop {
        max-width: 1200px;
    }
}
