.image-slider {
    margin-bottom: 3rem;

    .slides {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1rem;

        .slide-item {
            img {
            }
        }
    }
}
