.image-slider {
    margin-bottom: 3rem;
    margin-top:0;

    .slides {
        display: grid;
        gap: 4rem;
        grid-template-columns: 1fr;
        justify-items: center;



        @include tablet{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1rem;

        }

        .slide-item {
            img {
            }
        }
    }
}
