.page-title {
    background-color: var(--color-gray);
    background-image: url(../../../images/generic/background-img-hero.svg);
    height: fit-content;

    .content {
        display: flex;
        flex-direction: column;
        box-shadow: inset 0 0 11px #99999969;


        .headline {
        }

        .breadcrumb {
            display: flex;
            flex-direction: row;

            li {
                list-style-type: none;

                &:active {
                }
            }

            a {
                color: var(--color-default);
            }

            .divider {
                color: var(--color-default);
                margin-inline: 0.5rem;
            }
        }
    }
}

.active {
    color: var(--color-secondary);
}