#about-us {


    .container {


        @include tablet {
            padding-block: 3rem;
        }

        @include desktop {
        }

        .dynamic-container {

            @include tablet {
                margin-left: 4rem;
            }

            @include desktop {
                margin-left: 10rem;
            }
        }

        .form-header {
            padding: 1rem;

            h3 {
            }
        }

        .input-item {
            display: flex;
            flex-direction: column;

            input {
                padding: 0.3rem;
                width: 100%;
            }

            padding: 0.3rem;
        }

        select {
            width: 100%;
            padding: 0.3rem;
        }

        button {
            width: 100%;
        }

        .content {
            img {
                padding: 3rem;
                width: 100%;
            }

            blockquote {
            }

            p {
                color: var(--color-default);
                margin-left: 0;
            }
        }
    }
}

.dynamic-container {
    img {
        width: 50%;
        display: block;

        @include tablet {
            display: inline;
            width: 80%;
        }

        @include desktop {
            width: 100%;
        }
    }
}

@include tablet {
    #about-us {
        .container {
            .content {
                img {
                    padding: 0rem;
                }

                q {
                }

                p {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@include desktop {
    #about-us {
        .container {
            .content {
                img {
                }

                q {
                }

                p {
                    color: var(--color-default);
                    margin-left: 5rem;
                }
            }
        }
    }
}


#reviews {
    padding-block: 2rem;
    text-align: center;

    .container {

        h5 {
            margin-left: 1rem;
        }

        .content {
       
        }

        img {
            padding: 1rem;
            margin: auto;
        }

        h3 {
        }

        h3, h2, p {
        }
    }
}

    @include tablet {
        #reviews {

            .container {

            .content {

            }

            img {
           
            }

            h3 {
            }

            h3, h2, p {
             
            }
        }
            }

    }

/*@include desktop {
    #reviews {
        padding-block: 3rem;

        .container {
            .content {
                width: 64%;
                margin: auto;

            }

            img {
                padding: 3rem;
                margin-top: 4rem;
                width: 100%;
            }

            h3 {
            }

            h3, h2, p {
                padding-left: 2rem;
            }
        }
    }
}*/

@include ultra-wide {
    #reviews {
        padding-block: 3rem;

        .container{
        .content {
            margin-top: 7rem;
        }

        img {
            width: fit-content;
        }

        h3 {
        }

        h3, h2, p {
            padding-left: 2rem;
        }
    }

        }

}


.bg-primary {
    padding: 1rem;

    @include tablet {
        padding: 1rem;
    }

    @include desktop {
        padding: 3rem;
    }

    input {
        width: 100%;
    }

    span {
    }
}