.our-projects {
    .container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2rem;
        text-align: center;

        @include tablet {
            flex-direction: row-reverse;
            column-gap: 2rem;
        }

        .sidebar-right {

            .tag-content {
                .tag-list {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem;
                    padding-left: 0;

                    h4 {
                    }

                    .tag-item {
                        list-style-type: none;
                        text-align: center;
                        align-content: center;
                        list-style-type: none;
                        border: 1px solid var(--color-border-light);
                        border-radius: 30px;
                        padding: 0.3rem;
                    }
                }
            }

            .text-content {
                background-color: var(--color-primary);
                padding: 1rem;
                text-align: center;

                @include tablet {
                    text-align: left;
                }

                h4 {
                    color: var(--color-accent);
                }

                .support-text {
                    color: var(--color-accent);
                }
            }
        }

        .projects-content {
            border-right: 1px solid var(--color-gray);

            .item {
                display: flex;
                flex-direction: column;
                column-gap: 2rem;
                row-gap: 2rem;
                justify-content: center;
                align-items: center;
                margin-bottom: 3rem;


                @include tablet {
                    text-align: left;
                    row-gap: 3rem;
                }

                @include desktop {
                    flex-direction: row;
                    text-align: left;
                    row-gap: 3rem;
                }


                .item-img {
                }

                .item-content {
                    text-align: center;
                    padding-inline: 2rem;


                    @include tablet {
                        text-align: left;
                    }

                    @include desktop {
                        padding: 0;
                        padding-right: 4rem;
                    }

                    h4 {
                        @include tablet {
                            text-align: left;
                        }
                    }

                    .published {
                    }

                    p {
                        width: 60%;
                        margin: auto;

                        @include tablet {
                            width: 100%;
                        }
                    }

                    a {
                    }
                }
            }
        }
    }
}


