@import "./mixins/mixins.scss";
@import "../colors/mixins/mixins_colors.scss";


@import "./misc/base.scss";

@import "../colors/components/colors.scss";
@import "../colors/components/buttons.scss";
@import "../colors/components/base.scss";
@import "../colors/components/backgrounds.scss";
@import "../colors/components/headings.scss";
@import "../colors/components/links.scss";



@import "components/wrapper.scss";
@import "components/buttons.scss";
@import "components/container.scss";
@import "components/links.scss";
@import "components/typography.scss";
@import "components/image-slider.scss";
@import "components/page-title.scss";
@import "components/pagination.scss";
@import "components/section-bg-image.scss";


@import "../scss/sections/header.scss";
@import "../scss/sections/hero.scss";
@import "../scss/sections/aboutUs.scss";
@import "../scss/sections/ourServices.scss";
@import "../scss/sections/serviceDetails.scss";
@import "../scss/sections/projects.scss";
@import "../scss/sections/ourProjects.scss";
@import "../scss/sections/projectsDetails.scss";
@import "../scss/sections/successStories.scss";
@import "../scss/sections/footer.scss";
@import "../scss/sections/contact-component.scss";
@import "../scss/sections/teamMembers.scss";
@import "../scss/sections/contact-form.scss";




#trusted-group {

    .container {
        display: flex;
        text-align: center;
    }


    .btn {
        margin-bottom: 3rem;
    }

    img{
        width: 100%;
    }
}



