<?xml version="1.0" encoding="utf-8"?>
<Content Key="e254d843-4e3f-477d-86c2-d7f3687bee9d" Alias="3f9fb946-b95e-4a4a-8a29-934402b93dc6" Level="2">
  <Info>
    <Parent Key="b021b6ea-0693-4b01-af67-160dfab3d7b1">Testimonials</Parent>
    <Path>/Testimonials/f9fb946B95e4a4a8a29934402b93dc6</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-02T10:25:52</CreateDate>
    <NodeName Default="3f9fb946-b95e-4a4a-8a29-934402b93dc6" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionAuthor>
      <Value><![CDATA[Mimmi]]></Value>
    </questionAuthor>
    <questionEmail>
      <Value><![CDATA[mimmi@domain.com]]></Value>
    </questionEmail>
    <questionText>
      <Value><![CDATA[I need financial advice, how do I contact you?]]></Value>
    </questionText>
  </Properties>
</Content>