<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4424020-2a5f-40bb-9722-56c2b47c9c24" Alias="56607564-d128-41d3-a416-49afbc2c9dd3" Level="2">
  <Info>
    <Parent Key="b021b6ea-0693-4b01-af67-160dfab3d7b1">Testimonials</Parent>
    <Path>/Testimonials/d12841d3A41649afbc2c9dd3</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-01T22:04:17</CreateDate>
    <NodeName Default="56607564-d128-41d3-a416-49afbc2c9dd3" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Helga]]></Value>
    </authorName>
    <questionEmail>
      <Value><![CDATA[helga@domain.com]]></Value>
    </questionEmail>
    <questionText>
      <Value><![CDATA[Detta är min frågA!]]></Value>
    </questionText>
  </Properties>
</Content>