<?xml version="1.0" encoding="utf-8"?>
<Content Key="9089061a-9249-4bbd-9543-3bcc12324f5c" Alias="6eee16ae-682f-4df8-a0ff-039dd3ca59ed" Level="2">
  <Info>
    <Parent Key="b021b6ea-0693-4b01-af67-160dfab3d7b1">Testimonials</Parent>
    <Path>/Testimonials/eee16ae682f4df8A0ff039dd3ca59ed</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-01T22:00:04</CreateDate>
    <NodeName Default="6eee16ae-682f-4df8-a0ff-039dd3ca59ed" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[helga]]></Value>
    </authorName>
    <questionText>
      <Value><![CDATA[Fungerar det?]]></Value>
    </questionText>
  </Properties>
</Content>