<?xml version="1.0" encoding="utf-8"?>
<Content Key="6911b53e-942b-4774-bb87-5104f0ff6d7b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="c6f458f1-3db1-471f-acc1-07957a7f7fd4">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-16T09:21:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="13ccc444-e597-4887-8908-91f7e8a67bda">contactPage</Template>
  </Info>
  <Properties>
    <backgroundSectionImage>
      <Value><![CDATA[]]></Value>
    </backgroundSectionImage>
    <contactForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "54a6e9ee-a1e6-4093-9594-b9cb6bb4671d",
      "udi": "umb://element/68919eb5ec874780b7bdba02e581761e",
      "uniqueName": "email",
      "placeholderText": "Email Address",
      "labelText": "Email Address",
      "inputType": "[\u0022email\u0022]",
      "isRequired": 1,
      "errorMessage": "You must enter your Email address",
      "hideLabel": 1
    },
    {
      "contentTypeKey": "f6d2218f-99a7-4f1e-8665-82c9d039a000",
      "udi": "umb://element/c1411a1e098b42b29bad64428eb2c4fb",
      "buttonText": "Submit",
      "buttonType": "[\u0022submit\u0022]"
    },
    {
      "contentTypeKey": "f5297b6e-d34c-4b56-a4aa-5e3acfe237d3",
      "udi": "umb://element/e748abccad934a10804f8c0e82b1d949",
      "uniqueName": "Name",
      "hideLabel": 1,
      "placeholderText": "Name",
      "labelText": "Name",
      "inputType": "[\u0022text\u0022]",
      "isRequired": 1,
      "errorMessage": "You must enter your name"
    },
    {
      "contentTypeKey": "20f0e612-c385-4b86-a7a2-d0ea0bc6014a",
      "udi": "umb://element/04b10081cda64c9b8dab115b1845e1bf",
      "uniqueName": "Phone",
      "hideLabel": 1,
      "placeholderText": "Phone",
      "labelText": "Phone",
      "inputType": "[\u0022tel\u0022]",
      "isRequired": 1,
      "errorMessage": "You must enter your phone"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e748abccad934a10804f8c0e82b1d949",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/04b10081cda64c9b8dab115b1845e1bf",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/68919eb5ec874780b7bdba02e581761e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c1411a1e098b42b29bad64428eb2c4fb",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactForm>
    <formHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </formHeadline>
    <formPreamble>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </formPreamble>
    <formTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </formTitle>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9be88e21-db02-4189-916b-02e1837b3d49",
      "udi": "umb://element/136a726fdcf74d758f1c967f6f2aa286",
      "sectionTitle": "Map",
      "sectionBackgroundImage": null,
      "centerContentOnPage": 1
    },
    {
      "contentTypeKey": "5eb55fb2-36d6-40b6-8963-fae2cd6668b9",
      "udi": "umb://element/4e5780ffd0a44bc1a007f241fec09044",
      "selectedImage": "[{\u0022key\u0022:\u00223f29a31f-3bd0-4a7d-a846-c9c00880e9ba\u0022,\u0022mediaKey\u0022:\u0022be5b4008-e716-45f6-8081-ac2dfb2bf246\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "map",
      "fixedWidth": null
    },
    {
      "contentTypeKey": "620d9d64-973c-4c49-a109-fffbdc8a6277",
      "udi": "umb://element/2b57821b1d26416d9420eaf2555ee226",
      "sectionTitle": "Let us know about your next project",
      "contactBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Light\u0022,\r\n  \u0022value\u0022: \u0022#FFFFFF\u0022\r\n}",
      "imageBack": "[{\u0022key\u0022:\u0022df33105b-691b-447a-9efb-7553bd11ddcd\u0022,\u0022mediaKey\u0022:\u002257904b83-1f8a-4d59-b3d2-71fb8f395802\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageFront": "[{\u0022key\u0022:\u002202dac843-fbc0-4212-b214-f5498466e149\u0022,\u0022mediaKey\u0022:\u002272466971-6479-4b55-b01c-9aaa111608da\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/2b57821b1d26416d9420eaf2555ee226",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      },
      {
        "contentUdi": "umb://element/136a726fdcf74d758f1c967f6f2aa286",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d27cc997-e520-4c50-b477-1722fc39b16a",
            "items": [
              {
                "contentUdi": "umb://element/4e5780ffd0a44bc1a007f241fec09044",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[]]></Value>
    </preamble>
    <sectionTitle>
      <Value><![CDATA[]]></Value>
    </sectionTitle>
  </Properties>
</Content>