<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c98f9fb-70c9-4e9f-a494-5d43521b165f" Alias="dc8f3c7e-c447-45b0-81c7-80e8d95c2470" Level="2">
  <Info>
    <Parent Key="b021b6ea-0693-4b01-af67-160dfab3d7b1">Testimonials</Parent>
    <Path>/Testimonials/dc8f3c7eC44745b081c780e8d95c2470</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-03T14:08:35</CreateDate>
    <NodeName Default="dc8f3c7e-c447-45b0-81c7-80e8d95c2470" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionAuthor>
      <Value><![CDATA[Musse]]></Value>
    </questionAuthor>
    <questionEmail>
      <Value><![CDATA[musse@domain.com]]></Value>
    </questionEmail>
    <questionText>
      <Value><![CDATA[I wonder about the financial consultation, does it cost?]]></Value>
    </questionText>
  </Properties>
</Content>