<?xml version="1.0" encoding="utf-8"?>
<Content Key="21449e10-7f77-4793-a45f-07fb927fe6e8" Alias="Projects" Level="2">
  <Info>
    <Parent Key="c6f458f1-3db1-471f-acc1-07957a7f7fd4">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsListPage</ContentType>
    <CreateDate>2024-09-13T09:56:50</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ca1def38-c009-4fec-8fd4-3066be04ffa7">projectListPage</Template>
  </Info>
  <Properties>
    <asideTitle>
      <Value><![CDATA[Tags]]></Value>
    </asideTitle>
    <backgroundColorSupport>
      <Value><![CDATA[{
  "label": "Primary",
  "value": "#4F5955"
}]]></Value>
    </backgroundColorSupport>
    <bodytextSupport>
      <Value><![CDATA[Online support 24/7, we are here to help you]]></Value>
    </bodytextSupport>
    <contentSupport>
      <Value><![CDATA[]]></Value>
    </contentSupport>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <headlineSupport>
      <Value><![CDATA[How can we help you?]]></Value>
    </headlineSupport>
    <keywords>
      <Value><![CDATA[[
  "Report",
  "Business plans",
  "Insights",
  "Business",
  "App",
  "Project",
  "Finance",
  "Pricing",
  "hejhejhej"
]]]></Value>
    </keywords>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "620d9d64-973c-4c49-a109-fffbdc8a6277",
      "udi": "umb://element/8c07afa103824ee182363efb0953cc9b",
      "sectionTitle": "Let us know about your next project",
      "contactBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}",
      "imageBack": "[{\u0022key\u0022:\u002278f07958-2095-42c6-b485-2c756c1d7274\u0022,\u0022mediaKey\u0022:\u002257904b83-1f8a-4d59-b3d2-71fb8f395802\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageFront": "[{\u0022key\u0022:\u0022d6448084-36af-42af-bb63-fb7d63373b79\u0022,\u0022mediaKey\u0022:\u002272466971-6479-4b55-b01c-9aaa111608da\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/8c07afa103824ee182363efb0953cc9b",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <recentHeadline>
      <Value><![CDATA[]]></Value>
    </recentHeadline>
    <recentImage>
      <Value><![CDATA[]]></Value>
    </recentImage>
    <recentProjectPubliched>
      <Value><![CDATA[]]></Value>
    </recentProjectPubliched>
    <recentProjectTitle>
      <Value><![CDATA[]]></Value>
    </recentProjectTitle>
  </Properties>
</Content>