<?xml version="1.0" encoding="utf-8"?>
<Content Key="65b7a274-f827-4dd1-ad48-f2bc92605393" Alias="Services" Level="2">
  <Info>
    <Parent Key="c6f458f1-3db1-471f-acc1-07957a7f7fd4">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-10T16:10:33</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c86c96d9-f711-42bf-878d-7c2b26d38bd0">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "620d9d64-973c-4c49-a109-fffbdc8a6277",
      "udi": "umb://element/b658b9f6361e4aa8aa766d1d83a91a9e",
      "sectionTitle": "Let us know about your next project",
      "contactBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}",
      "imageBack": "[{\u0022key\u0022:\u00228fc97e10-e34f-45ec-ae25-4099d3de8ead\u0022,\u0022mediaKey\u0022:\u002257904b83-1f8a-4d59-b3d2-71fb8f395802\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageFront": "[{\u0022key\u0022:\u002208da339f-079e-4fde-8c72-d7d7235725bf\u0022,\u0022mediaKey\u0022:\u002272466971-6479-4b55-b01c-9aaa111608da\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b658b9f6361e4aa8aa766d1d83a91a9e",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>