<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5190c46-2316-4a75-a2cf-e331b7c0283f" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-05T08:36:40</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactBackgroundColor>
      <Value><![CDATA[{
  "label": "Gray",
  "value": "#F7F7F7"
}]]></Value>
    </contactBackgroundColor>
    <emailTitle>
      <Value><![CDATA[E-mail Address]]></Value>
    </emailTitle>
    <imgBack>
      <Value><![CDATA[[
  {
    "key": "d6c4d83c-e308-41d1-8aea-3b255bb74946",
    "mediaKey": "72466971-6479-4b55-b01c-9aaa111608da",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imgBack>
    <imgFront>
      <Value><![CDATA[[
  {
    "key": "0514399e-cc7b-4627-b9ed-9757a60a78ec",
    "mediaKey": "57904b83-1f8a-4d59-b3d2-71fb8f395802",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imgFront>
    <locationTitle>
      <Value><![CDATA[Office Location]]></Value>
    </locationTitle>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </officeHeadline>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <partnersList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3904c31c-179c-409f-9cc2-2c1bd081bce5",
      "udi": "umb://element/b87e89c965154b839e758d2015349936",
      "partnersImage": "[{\u0022key\u0022:\u0022bb8d88a0-38f3-456d-9acf-43fef4fe19d4\u0022,\u0022mediaKey\u0022:\u00224305d7cb-ad39-4124-a99f-96b4fdcf1acd\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "FreedomBird"
    },
    {
      "contentTypeKey": "3904c31c-179c-409f-9cc2-2c1bd081bce5",
      "udi": "umb://element/b71f7106440b418f8c3d44035494c528",
      "partnersImage": "[{\u0022key\u0022:\u0022dde15d69-13e9-4690-a7aa-215a938cc53b\u0022,\u0022mediaKey\u0022:\u0022df0cff29-1014-4421-b566-13ff8e000430\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Identity"
    },
    {
      "contentTypeKey": "3904c31c-179c-409f-9cc2-2c1bd081bce5",
      "udi": "umb://element/322746ec9ea54d59a4894d6ef6a74c2d",
      "partnersImage": "[{\u0022key\u0022:\u00227363eb65-27de-4f1e-903f-2ae27e826ea4\u0022,\u0022mediaKey\u0022:\u0022280b01e7-27a1-490f-875a-c29ec11db582\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Natural"
    },
    {
      "contentTypeKey": "3904c31c-179c-409f-9cc2-2c1bd081bce5",
      "udi": "umb://element/a4f993442ea9458c9dcb80afacd7cdeb",
      "partnersImage": "[{\u0022key\u0022:\u0022cb5bbee7-5829-4fbf-9588-835a6f9de536\u0022,\u0022mediaKey\u0022:\u00225251f530-6b2b-4ea5-ae7d-4f824aae4b4f\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Simpleaf"
    },
    {
      "contentTypeKey": "3904c31c-179c-409f-9cc2-2c1bd081bce5",
      "udi": "umb://element/bb1a0420c36a4d368dd43f365fb0631b",
      "partnersImage": "[{\u0022key\u0022:\u00221f0ad7ee-7778-4986-9dd8-c716cfe149db\u0022,\u0022mediaKey\u0022:\u0022f1885365-cd78-4c1a-bbd9-da6e46dc93b3\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "Globe"
    },
    {
      "contentTypeKey": "3904c31c-179c-409f-9cc2-2c1bd081bce5",
      "udi": "umb://element/c6a33612554d47d4af8903e15c33c9ac",
      "partnersImage": "[{\u0022key\u0022:\u00223c2cb15d-3bd0-4955-b755-35bf7eb5ae18\u0022,\u0022mediaKey\u0022:\u0022ab9649c1-4f7e-4b9b-8b92-1a869c16b1c9\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "imageDescription": "FossilGroup"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b87e89c965154b839e758d2015349936",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b71f7106440b418f8c3d44035494c528",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/322746ec9ea54d59a4894d6ef6a74c2d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a4f993442ea9458c9dcb80afacd7cdeb",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/bb1a0420c36a4d368dd43f365fb0631b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c6a33612554d47d4af8903e15c33c9ac",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </partnersList>
    <phoneTitle>
      <Value><![CDATA[Phone Number]]></Value>
    </phoneTitle>
    <selectedIcon>
      <Value><![CDATA[]]></Value>
    </selectedIcon>
    <siteFavicon>
      <Value><![CDATA[[
  {
    "key": "c8a0fd48-43cc-402f-b4aa-d266841f3170",
    "mediaKey": "631a60b5-34cd-41e6-868f-c105cb8c9ac3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteFavicon>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "75c639d2-9872-4043-bd3f-df357f350549",
    "mediaKey": "fde2b8bb-7616-473a-8b5c-f72f1bdcb14d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions For You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e3bae06a-658a-4fc6-add0-434d0442d9e4",
      "udi": "umb://element/60449abb663b4febab9de762caf2851e",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "e3bae06a-658a-4fc6-add0-434d0442d9e4",
      "udi": "umb://element/79d16ab51ecc435e9af765f600ec6882",
      "platformName": "[\u0022Instagram\u0022]",
      "platformAccountUrl": "https://instagram.com/onatrix"
    },
    {
      "contentTypeKey": "e3bae06a-658a-4fc6-add0-434d0442d9e4",
      "udi": "umb://element/14ca32f44ac74558bb58b314a956f7de",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "e3bae06a-658a-4fc6-add0-434d0442d9e4",
      "udi": "umb://element/0ca14d791da845f0a99e868a3e85b94c",
      "platformName": "[\u0022X (formely Twitter)\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "e3bae06a-658a-4fc6-add0-434d0442d9e4",
      "udi": "umb://element/58c2b2fc278c4bdbba27fb46788f9c6e",
      "platformName": "[\u0022YouTube\u0022]",
      "platformAccountUrl": "https://youtube.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/60449abb663b4febab9de762caf2851e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/14ca32f44ac74558bb58b314a956f7de",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/0ca14d791da845f0a99e868a3e85b94c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/79d16ab51ecc435e9af765f600ec6882",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/58c2b2fc278c4bdbba27fb46788f9c6e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>