<?xml version="1.0" encoding="utf-8"?>
<Content Key="c43c607e-aeb2-41d8-b255-0a548887c6bf" Alias="test" Level="2">
  <Info>
    <Parent Key="b021b6ea-0693-4b01-af67-160dfab3d7b1">Testimonials</Parent>
    <Path>/Testimonials/test</Path>
    <Trashed>false</Trashed>
    <ContentType>questionItem</ContentType>
    <CreateDate>2024-10-01T15:04:02</CreateDate>
    <NodeName Default="test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <authorName>
      <Value><![CDATA[Helga]]></Value>
    </authorName>
    <questionText>
      <Value><![CDATA[testar]]></Value>
    </questionText>
  </Properties>
</Content>