<?xml version="1.0" encoding="utf-8"?>
<Content Key="b021b6ea-0693-4b01-af67-160dfab3d7b1" Alias="Testimonials" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testimonials</Path>
    <Trashed>false</Trashed>
    <ContentType>questions</ContentType>
    <CreateDate>2024-10-01T14:54:40</CreateDate>
    <NodeName Default="Testimonials" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>