<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da5d98d7-9972-406a-a0f4-5f2a6d4a0fd8" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Template</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e51e40bd-7f72-4272-8235-1144036f2839">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="da5d98d7-9972-406a-a0f4-5f2a6d4a0fd8" SortOrder="0">modularPage</ContentType>
    <ContentType Key="245dd3c0-719b-4541-8bda-33b7ce459817" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="705cb4b2-572d-4248-be76-5f9cf292fa88" SortOrder="2">projectsListPage</ContentType>
    <ContentType Key="e2c1d7d5-4c9e-44e0-a654-ab3dbb5106ae" SortOrder="3">contactPage</ContentType>
    <ContentType Key="a6f3192d-76bd-49d8-90d2-4fdbdd8fd4b4" SortOrder="4">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b1593327-9498-4a3f-9cee-ec8af1446558</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/ourServicesContent">Our Services Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71f9cff3-de1c-4138-88b3-53abce39c171</Key>
      <Name>Homepage Form</Name>
      <Alias>homepageForm</Alias>
      <Definition>e227839a-dfa8-4119-a7d2-3c138a9121ca</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageForm">Page Form</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>491475c1-5e52-421a-837d-702d098bc692</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>a5c58a48-d7f0-4510-9ac5-f4c6dc409795</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d256b41-1fb7-4dd8-8ad3-c990d19fe02a</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>96ab0ef3-369b-426d-a31a-51eb01e0f966</Key>
      <Name>Section Title</Name>
      <Alias>sectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/ourServicesContent">Our Services Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5a0fb482-3ef3-416d-958b-dcccae39b219</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>66a041ff-2948-43d8-9838-6e20959358aa</Key>
      <Caption>Our Services Content</Caption>
      <Alias>content/ourServicesContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>76d90497-c708-4bca-8bff-f972d8abe517</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>dc0733a5-d2d8-4d03-ae1f-07d0682cc596</Key>
      <Caption>Page Form</Caption>
      <Alias>content/pageForm</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>