<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="471527e6-6b52-4a71-983f-d77290750f5a" Alias="questions" Level="3">
  <Info>
    <Name>Questions</Name>
    <Icon>icon-documents</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Grupperar ihop alla testimonial items</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocks/Questions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="26a8ba6c-ca1d-4994-8b46-1305540ecdac" SortOrder="0">questionItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>