<?xml version="1.0" encoding="utf-8"?>
<DataType Key="738754b1-ba5a-4e05-a996-7aff04a5c6fe" Alias="About Page - Block Grid " Level="1">
  <Info>
    <Name>About Page - Block Grid </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "5f116b6b-b483-42d2-a2d5-a4de8aae91c2",
      "name": "Containers"
    },
    {
      "key": "853c7093-026b-4075-90b2-0f50a5488d01",
      "name": "Components"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "19a87826-5581-442c-9174-05846c7999bc",
      "allowAtRoot": true,
      "groupKey": "853c7093-026b-4075-90b2-0f50a5488d01",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5eb55fb2-36d6-40b6-8963-fae2cd6668b9",
      "allowAtRoot": false,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": -1,
      "rowMaxSpan": 3,
      "areas": [
        {
          "key": "415e82b3-e077-4acb-9cbb-ca5c2468db03",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 9,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "e85532c7-198a-4a49-828a-187ea821b281",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "83500c0c-ba3f-473b-8259-8117a4aa81d5",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "53cb4cd9-4c20-4185-8dab-f1f4522edee9",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2dba3678-4f1b-49cc-8220-9c8a855facbd",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "dfb4715a-a9a5-46de-a7ad-8a5acee335e9",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b0ecec36-0ba3-4111-80eb-e7b35a4cfe26",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b38897fb-fa99-468a-830e-b0da6a9d033c",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ce5eeff1-3eda-4960-a372-183beabc7f20",
      "allowAtRoot": false,
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9ff1a36e-9158-46d7-8c41-529ad499ea2f",
      "allowAtRoot": false,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": -1,
      "rowMaxSpan": 3
    },
    {
      "contentElementTypeKey": "7a2d8a2a-a4f4-4b91-b163-df20583f34cc",
      "allowAtRoot": false,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": -1,
      "rowMaxSpan": 3
    },
    {
      "contentElementTypeKey": "f5b61766-189f-4636-95f2-a15c3fac6b60",
      "allowAtRoot": false,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": -1,
      "rowMaxSpan": 3
    },
    {
      "contentElementTypeKey": "07f91758-6f59-473b-afff-c6a90bc6407d",
      "allowAtRoot": false,
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "rowMinSpan": -1,
      "rowMaxSpan": 3
    },
    {
      "contentElementTypeKey": "5cbff770-6bf2-4fb7-8d7c-5291e9071fb8",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "9aef4ecd-28af-49c1-b5b7-e09a3eb14ca6",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "groupKey": "5f116b6b-b483-42d2-a2d5-a4de8aae91c2"
    },
    {
      "contentElementTypeKey": "bb14eb1c-506c-4371-acff-1c29a783338d",
      "allowAtRoot": false,
      "allowInAreas": true,
      "areas": [
        {
          "key": "e8f7c7cd-9cc8-4f5e-9c30-e33e3fbfa1c6",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "5f116b6b-b483-42d2-a2d5-a4de8aae91c2"
    },
    {
      "contentElementTypeKey": "19e92911-7522-4ad4-ac01-ec3681f0c538",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "e6bb303c-cf8c-4ffa-be6b-9db6bcc454b7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "5f116b6b-b483-42d2-a2d5-a4de8aae91c2"
    },
    {
      "contentElementTypeKey": "9be88e21-db02-4189-916b-02e1837b3d49",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "19a07a76-6489-4b25-a8ef-198a1047d210",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "5f116b6b-b483-42d2-a2d5-a4de8aae91c2"
    },
    {
      "contentElementTypeKey": "620d9d64-973c-4c49-a109-fffbdc8a6277",
      "allowAtRoot": true,
      "groupKey": "853c7093-026b-4075-90b2-0f50a5488d01",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "ffc2d9bd-618a-4487-b35d-57475f5810d3",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>