<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2a7d4a4a-43b2-4474-bb99-d7d100781d36" Alias="Button - Button Types" Level="1">
  <Info>
    <Name>Button - Button Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ],
  "multiple": false
}]]></Config>
</DataType>