<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50ac0847-55db-45be-8b73-43445ac14fa2" Alias="Dynamic Sidebar" Level="1">
  <Info>
    <Name>Dynamic Sidebar</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5eb55fb2-36d6-40b6-8963-fae2cd6668b9"
    },
    {
      "contentElementTypeKey": "83500c0c-ba3f-473b-8259-8117a4aa81d5"
    },
    {
      "contentElementTypeKey": "b38897fb-fa99-468a-830e-b0da6a9d033c"
    },
    {
      "contentElementTypeKey": "f5b61766-189f-4636-95f2-a15c3fac6b60"
    }
  ]
}]]></Config>
</DataType>