<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e227839a-dfa8-4119-a7d2-3c138a9121ca" Alias="Homepage Form - Block List" Level="1">
  <Info>
    <Name>Homepage Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7fc23541-e3e0-48af-8611-3ce861ebde53"
    },
    {
      "contentElementTypeKey": "54a6e9ee-a1e6-4093-9594-b9cb6bb4671d"
    },
    {
      "contentElementTypeKey": "49b5668e-0b63-41f2-b19b-9a71ec4cbd6e"
    },
    {
      "contentElementTypeKey": "20f0e612-c385-4b86-a7a2-d0ea0bc6014a"
    },
    {
      "contentElementTypeKey": "f5297b6e-d34c-4b56-a4aa-5e3acfe237d3"
    },
    {
      "contentElementTypeKey": "9198a463-65c0-474d-8946-022e894f2e19"
    },
    {
      "contentElementTypeKey": "37b44654-46ba-4007-9c1b-19e3ce52b4d3"
    },
    {
      "contentElementTypeKey": "f6d2218f-99a7-4f1e-8665-82c9d039a000"
    },
    {
      "contentElementTypeKey": "d507d358-50dd-4a59-8668-eb362b6262f6",
      "label": "Paragraph"
    }
  ]
}]]></Config>
</DataType>