<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b47c58f-0633-40f7-93de-fb9793a76b7a" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fd1265c8-6938-47f6-827b-36febbe2dff1",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>