<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd6d75bc-1404-47a4-af07-57f34ed40547" Alias="InputText - Form Input Types " Level="1">
  <Info>
    <Name>InputText - Form Input Types </Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel"
  ],
  "multiple": false
}]]></Config>
</DataType>