<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5c58a48-d7f0-4510-9ac5-f4c6dc409795" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "c45c9570-1e9b-4057-9bf1-83d5b2355deb",
      "name": "Components"
    },
    {
      "key": "fffa3626-560e-4555-8229-afe5d64be6d2",
      "name": "Containers"
    },
    {
      "key": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "name": "Content"
    },
    {
      "name": "Form Elements",
      "key": "bd18b6d1-3616-4f32-a3e5-42b423d492d5"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "19e92911-7522-4ad4-ac01-ec3681f0c538",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "88371b23-5949-4217-8081-0f927aa2fc7f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "fffa3626-560e-4555-8229-afe5d64be6d2"
    },
    {
      "contentElementTypeKey": "9be88e21-db02-4189-916b-02e1837b3d49",
      "allowAtRoot": true,
      "groupKey": "fffa3626-560e-4555-8229-afe5d64be6d2",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "d27cc997-e520-4c50-b477-1722fc39b16a",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "bb14eb1c-506c-4371-acff-1c29a783338d",
      "allowAtRoot": false,
      "groupKey": "fffa3626-560e-4555-8229-afe5d64be6d2",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "6d147777-0993-45d5-860a-aca96dc2e931",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "5cbff770-6bf2-4fb7-8d7c-5291e9071fb8",
      "allowAtRoot": false,
      "groupKey": "fffa3626-560e-4555-8229-afe5d64be6d2",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "c4461a81-a576-428f-8f1f-3fa20da063d8",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 11
        }
      ]
    },
    {
      "contentElementTypeKey": "2dba3678-4f1b-49cc-8220-9c8a855facbd",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e85532c7-198a-4a49-828a-187ea821b281",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "dfb4715a-a9a5-46de-a7ad-8a5acee335e9",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "53cb4cd9-4c20-4185-8dab-f1f4522edee9",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5eb55fb2-36d6-40b6-8963-fae2cd6668b9",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b38897fb-fa99-468a-830e-b0da6a9d033c",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9ff1a36e-9158-46d7-8c41-529ad499ea2f",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "quotation",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "83500c0c-ba3f-473b-8259-8117a4aa81d5",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b0ecec36-0ba3-4111-80eb-e7b35a4cfe26",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ce5eeff1-3eda-4960-a372-183beabc7f20",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f5b61766-189f-4636-95f2-a15c3fac6b60",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "07f91758-6f59-473b-afff-c6a90bc6407d",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7a2d8a2a-a4f4-4b91-b163-df20583f34cc",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "83344e35-3e07-4dfb-b0c3-2a8da0fd2962",
      "allowAtRoot": false,
      "groupKey": "cdbe19b8-4d77-4102-ae5e-ec5c07069a2f",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "633d7323-8b87-41b5-a162-46488a71e623",
      "allowAtRoot": true,
      "groupKey": "fffa3626-560e-4555-8229-afe5d64be6d2",
      "areas": [
        {
          "key": "b93bb5c9-9977-4923-9b21-496901d95b72",
          "alias": "areaLeft",
          "columnSpan": 6,
          "rowSpan": 8,
          "minAllowed": 0,
          "specifiedAllowance": [
            {
              "minAllowed": 0,
              "groupKey": "fffa3626-560e-4555-8229-afe5d64be6d2"
            }
          ]
        },
        {
          "key": "eab01309-7580-45a2-bdc8-a907805074f9",
          "alias": "areaRight",
          "columnSpan": 6,
          "rowSpan": 8,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "f6d2218f-99a7-4f1e-8665-82c9d039a000",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "allowInAreas": true,
      "areas": [
        {
          "key": "fa2f5975-30d8-4e21-b897-e869178a66cf",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "54a6e9ee-a1e6-4093-9594-b9cb6bb4671d",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "allowInAreas": true,
      "areas": [
        {
          "key": "e5271639-da40-4bba-8de4-143b4f9e9439",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "37b44654-46ba-4007-9c1b-19e3ce52b4d3",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "allowInAreas": true,
      "areas": [
        {
          "key": "673ef0df-d216-401e-863c-b07fac7e6c41",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "7fc23541-e3e0-48af-8611-3ce861ebde53",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "allowInAreas": true,
      "areas": [
        {
          "key": "a0fb9cd7-90fe-420e-ab78-aec65a0b9d38",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "49b5668e-0b63-41f2-b19b-9a71ec4cbd6e",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "label": "Password - {=uniqueName}",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "20f0e612-c385-4b86-a7a2-d0ea0bc6014a",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "label": "Phone - {=uniqueName}",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f5297b6e-d34c-4b56-a4aa-5e3acfe237d3",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "label": "Text - {-uniqueName}",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9198a463-65c0-474d-8946-022e894f2e19",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "label": "TextArea - {=uniqueName}",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ab12903c-6285-4fe0-a876-f98467517ee1",
      "allowAtRoot": false,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "627daa0e-ebfc-42d4-ba5f-032771857c45",
      "allowAtRoot": true,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb"
    },
    {
      "contentElementTypeKey": "620d9d64-973c-4c49-a109-fffbdc8a6277",
      "allowAtRoot": true,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb"
    },
    {
      "contentElementTypeKey": "d3b2739f-2141-43a3-a10e-359fa6e01bbe",
      "allowAtRoot": true,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb",
      "settingsElementTypeKey": "d3b2739f-2141-43a3-a10e-359fa6e01bbe",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "87cef988-a6a9-4325-995a-2e07f06042c4",
      "allowAtRoot": true,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb",
      "label": "recent projects",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "19a87826-5581-442c-9174-05846c7999bc",
      "allowAtRoot": true,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "218923da-2164-4b5e-a36e-c91b843a7304",
      "allowAtRoot": false,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b9daac10-305e-4dd2-92cf-75ed17d2ff7e",
      "allowAtRoot": false,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "588a1c4e-eee0-455c-8fae-a587e87712b8",
      "allowAtRoot": true,
      "groupKey": "c45c9570-1e9b-4057-9bf1-83d5b2355deb",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d507d358-50dd-4a59-8668-eb362b6262f6",
      "allowAtRoot": false,
      "groupKey": "bd18b6d1-3616-4f32-a3e5-42b423d492d5",
      "label": "Form Ingress",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>