<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c07540ea-4977-493a-a5e2-5c96578e7799" Alias="Our Projects Slider - Slides - Block List" Level="1">
  <Info>
    <Name>Our Projects Slider - Slides - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d3b2739f-2141-43a3-a10e-359fa6e01bbe",
      "label": "**project slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>