<?xml version="1.0" encoding="utf-8"?>
<DataType Key="874922e4-3709-429d-a92b-13eb7e52e9ce" Alias="Project Item Template - Project Layout" Level="1">
  <Info>
    <Name>Project Item Template - Project Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "b1d24696-f495-486d-baf9-33ae51893c25",
      "name": "Components"
    },
    {
      "name": "Containers",
      "key": "f3c06b69-dabe-4279-b99d-9332425abde7"
    },
    {
      "name": "Sections",
      "key": "e29c097a-df1d-4159-abc0-689fb11c765f"
    },
    {
      "name": "HTML elements",
      "key": "2eba071e-5243-4cfd-bec2-40c489827a42"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "620d9d64-973c-4c49-a109-fffbdc8a6277",
      "allowAtRoot": true,
      "groupKey": "b1d24696-f495-486d-baf9-33ae51893c25"
    },
    {
      "contentElementTypeKey": "bb14eb1c-506c-4371-acff-1c29a783338d",
      "allowAtRoot": false,
      "groupKey": "f3c06b69-dabe-4279-b99d-9332425abde7",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5cbff770-6bf2-4fb7-8d7c-5291e9071fb8",
      "allowAtRoot": false,
      "groupKey": "f3c06b69-dabe-4279-b99d-9332425abde7",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9be88e21-db02-4189-916b-02e1837b3d49",
      "allowAtRoot": true,
      "groupKey": "e29c097a-df1d-4159-abc0-689fb11c765f"
    },
    {
      "contentElementTypeKey": "19e92911-7522-4ad4-ac01-ec3681f0c538",
      "allowAtRoot": true,
      "groupKey": "e29c097a-df1d-4159-abc0-689fb11c765f"
    },
    {
      "contentElementTypeKey": "5eb55fb2-36d6-40b6-8963-fae2cd6668b9",
      "allowAtRoot": false,
      "groupKey": "2eba071e-5243-4cfd-bec2-40c489827a42",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b38897fb-fa99-468a-830e-b0da6a9d033c",
      "allowAtRoot": false,
      "groupKey": "2eba071e-5243-4cfd-bec2-40c489827a42",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "83500c0c-ba3f-473b-8259-8117a4aa81d5",
      "allowAtRoot": false,
      "groupKey": "2eba071e-5243-4cfd-bec2-40c489827a42",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e85532c7-198a-4a49-828a-187ea821b281",
      "allowAtRoot": false,
      "groupKey": "2eba071e-5243-4cfd-bec2-40c489827a42",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>