<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc73ec04-83d7-4302-93fd-b714ba7ccbc0" Alias="SelectionList - Dropdown Menu" Level="1">
  <Info>
    <Name>SelectionList - Dropdown Menu</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "option 1",
    "option 2",
    "option 3"
  ],
  "multiple": true
}]]></Config>
</DataType>