<?xml version="1.0" encoding="utf-8"?>
<DataType Key="910da222-61d9-4eab-91ca-55410bce0a8e" Alias="Settings Page - Partners List - Block List" Level="1">
  <Info>
    <Name>Settings Page - Partners List - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3904c31c-179c-409f-9cc2-2c1bd081bce5"
    }
  ]
}]]></Config>
</DataType>