<?xml version="1.0" encoding="utf-8"?>
<DataType Key="59e7486d-97ba-4382-a679-15293aac9fce" Alias="SidebarBlockList" Level="1">
  <Info>
    <Name>SidebarBlockList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b9daac10-305e-4dd2-92cf-75ed17d2ff7e"
    },
    {
      "contentElementTypeKey": "5eb55fb2-36d6-40b6-8963-fae2cd6668b9"
    },
    {
      "contentElementTypeKey": "ce5eeff1-3eda-4960-a372-183beabc7f20"
    },
    {
      "contentElementTypeKey": "b38897fb-fa99-468a-830e-b0da6a9d033c"
    }
  ]
}]]></Config>
</DataType>