<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5ad2ef7-7e4f-4efa-ae58-b2f47669fe5a" Alias="Team Members Dropdown List" Level="1">
  <Info>
    <Name>Team Members Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Advisor at Onatrix",
    "Business Specialist at Onatrix",
    "CEO \u0026 Founder at Onatrix",
    " CFO \u0026 Co-Founderat Onatrix",
    "Head of HR at Onatrix",
    "Banking Advisor at Swedbank"
  ]
}]]></Config>
</DataType>