<?xml version="1.0" encoding="utf-8"?>
<DataType Key="951c032c-27ae-44f2-90f5-a51626007cac" Alias="Team Members - BlockList" Level="1">
  <Info>
    <Name>Team Members - BlockList</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5eb55fb2-36d6-40b6-8963-fae2cd6668b9"
    },
    {
      "contentElementTypeKey": "ce5eeff1-3eda-4960-a372-183beabc7f20"
    },
    {
      "contentElementTypeKey": "f5b61766-189f-4636-95f2-a15c3fac6b60"
    },
    {
      "contentElementTypeKey": "19a87826-5581-442c-9174-05846c7999bc",
      "label": "**{=membersJobTitle}**"
    }
  ]
}]]></Config>
</DataType>