<?xml version="1.0" encoding="utf-8"?>
<Media Key="30818cfc-2ef8-43e1-92cc-66eac5d34c2e" Alias="01.svg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T10:55:08</CreateDate>
    <NodeName Default="01.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/byydhuxd/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>