<?xml version="1.0" encoding="utf-8"?>
<Media Key="df0cff29-1014-4421-b566-13ff8e000430" Alias="02.jpg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T10:54:27</CreateDate>
    <NodeName Default="02.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uy0fu0l3/02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>