<?xml version="1.0" encoding="utf-8"?>
<Media Key="280b01e7-27a1-490f-875a-c29ec11db582" Alias="03.jpg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T10:54:28</CreateDate>
    <NodeName Default="03.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ndff1hwi/03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>