<?xml version="1.0" encoding="utf-8"?>
<Media Key="5251f530-6b2b-4ea5-ae7d-4f824aae4b4f" Alias="04.jpg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T10:54:28</CreateDate>
    <NodeName Default="04.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x25bpzcc/04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>