<?xml version="1.0" encoding="utf-8"?>
<Media Key="a38caf8f-fbce-4a88-b075-783f9115c071" Alias="04.svg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T10:56:09</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pujc2qov/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>