<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1885365-cd78-4c1a-bbd9-da6e46dc93b3" Alias="05.jpg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T10:54:28</CreateDate>
    <NodeName Default="05.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3kmn2ryr/05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>