<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe52024d-5ca0-43b5-a0ac-463d340bd632" Alias="05.svg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T10:56:09</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x45pahf1/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>