<?xml version="1.0" encoding="utf-8"?>
<Media Key="0666e92c-7000-4c16-a3a5-a9aca4d3ec8e" Alias="06.svg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T10:56:09</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zkmjza1/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>