<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T09:02:27</CreateDate>
    <NodeName Default="About" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>