<?xml version="1.0" encoding="utf-8"?>
<Media Key="87768a70-2cdc-4da6-9ae3-b0efb204f8fa" Alias="background-img-hero.svg" Level="2">
  <Info>
    <Parent Key="ec947cd5-de91-42af-bbd7-96611e7f01ef">Generic</Parent>
    <Path>/Generic/backgroundImgHerosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T08:15:14</CreateDate>
    <NodeName Default="background-img-hero.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qi1nizoh/background-img-hero.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>