<?xml version="1.0" encoding="utf-8"?>
<Media Key="eea8c5f9-cac5-4339-95d7-ea784286dfa4" Alias="background-project.svg" Level="2">
  <Info>
    <Parent Key="35838f10-87e9-41bd-9c99-62ce4a6a9bb1">Projects</Parent>
    <Path>/Projects/backgroundProjectsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T09:59:54</CreateDate>
    <NodeName Default="background-project.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bn2audg4/background-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>