<?xml version="1.0" encoding="utf-8"?>
<Media Key="72466971-6479-4b55-b01c-9aaa111608da" Alias="Component 1.svg" Level="2">
  <Info>
    <Parent Key="48c2aa34-6db5-4d88-b2d2-9131ddc4f708">contact</Parent>
    <Path>/contact/Component1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T13:23:04</CreateDate>
    <NodeName Default="Component 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qpkojedc/component-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>