<?xml version="1.0" encoding="utf-8"?>
<Media Key="48c2aa34-6db5-4d88-b2d2-9131ddc4f708" Alias="contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-11T13:23:01</CreateDate>
    <NodeName Default="contact" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>