<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb725ffc-d436-486f-9b75-7870dfb4bb3e" Alias="Dot map-succes.svg" Level="2">
  <Info>
    <Parent Key="ec947cd5-de91-42af-bbd7-96611e7f01ef">Generic</Parent>
    <Path>/Generic/DotMapSuccessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T16:19:06</CreateDate>
    <NodeName Default="Dot map-succes.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b1rnacjn/dot-map-succes.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>