<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec947cd5-de91-42af-bbd7-96611e7f01ef" Alias="Generic" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Generic</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T08:15:11</CreateDate>
    <NodeName Default="Generic" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>