<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e42b5ce-5c7b-4085-ada6-15bf5ac0ff18" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T09:02:16</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>