<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ea46577-3059-45af-9eb9-2c417e314b00" Alias="Icon calendar.svg" Level="2">
  <Info>
    <Parent Key="ec947cd5-de91-42af-bbd7-96611e7f01ef">Generic</Parent>
    <Path>/Generic/IconCalendarsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T10:33:24</CreateDate>
    <NodeName Default="Icon calendar.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qxmanhcc/icon-calendar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>