<?xml version="1.0" encoding="utf-8"?>
<Media Key="f24f6dd5-6c9e-4cbf-b441-7b137e716c90" Alias="Icon-mail.svg" Level="2">
  <Info>
    <Parent Key="e70edf1d-c1fd-45ba-a953-809a4abec26b">services</Parent>
    <Path>/services/IconMailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T09:14:00</CreateDate>
    <NodeName Default="Icon-mail.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e5io0eef/icon-mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>