<?xml version="1.0" encoding="utf-8"?>
<Media Key="f40b999d-a8d3-4974-9edf-9827a8544123" Alias="image-24-min 1.png" Level="2">
  <Info>
    <Parent Key="e70edf1d-c1fd-45ba-a953-809a4abec26b">services</Parent>
    <Path>/services/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:04:03</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cjjf0qv0/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>