<?xml version="1.0" encoding="utf-8"?>
<Media Key="0202002a-d283-4238-94d7-83bca01014ca" Alias="image-47 1.jpg" Level="2">
  <Info>
    <Parent Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af">About</Parent>
    <Path>/About/image471jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:03:37</CreateDate>
    <NodeName Default="image-47 1.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.4991414835164835,
    "top": 0.532967032967033
  },
  "crops": [],
  "src": "/media/uxfejnhk/image-47-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>