<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7ee5793-2ecc-4fa2-8201-8f471f70742e" Alias="image-13-min 1.png" Level="2">
  <Info>
    <Parent Key="6e42b5ce-5c7b-4085-ada6-15bf5ac0ff18">Home</Parent>
    <Path>/Home/image13Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:03:53</CreateDate>
    <NodeName Default="image-13-min 1.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dsolqqnf/image-13-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>