<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee2b2902-0712-4680-bd86-b6ab088681e2" Alias="image-23-min 1.png" Level="2">
  <Info>
    <Parent Key="e70edf1d-c1fd-45ba-a953-809a4abec26b">services</Parent>
    <Path>/services/image23Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:04:03</CreateDate>
    <NodeName Default="image-23-min 1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rxrh0wd1/image-23-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>