<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b6a3c7a-2c28-4cdf-8505-22a9e7d247b9" Alias="image-104 1.jpg" Level="2">
  <Info>
    <Parent Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af">About</Parent>
    <Path>/About/image1041jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:03:37</CreateDate>
    <NodeName Default="image-104 1.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4x1cypkb/image-104-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>