<?xml version="1.0" encoding="utf-8"?>
<Media Key="474ffc14-fa51-492d-a8b6-785eaac94c4a" Alias="Img-4-2 1.jpg" Level="2">
  <Info>
    <Parent Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af">About</Parent>
    <Path>/About/Img421jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:03:36</CreateDate>
    <NodeName Default="Img-4-2 1.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5099537037037037,
    "top": 0.5222222222222223
  },
  "crops": [],
  "src": "/media/tm1at2jy/img-4-2-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>