<?xml version="1.0" encoding="utf-8"?>
<Media Key="57904b83-1f8a-4d59-b3d2-71fb8f395802" Alias="Img-5-e1695109900349 1.svg" Level="2">
  <Info>
    <Parent Key="48c2aa34-6db5-4d88-b2d2-9131ddc4f708">contact</Parent>
    <Path>/contact/Img5E16951099003491svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T13:23:04</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oh1dfnmr/img-5-e1695109900349-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>