<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a87198a-bd52-4faf-b922-042b1914e18b" Alias="Img-47 1.jpg" Level="2">
  <Info>
    <Parent Key="e70edf1d-c1fd-45ba-a953-809a4abec26b">services</Parent>
    <Path>/services/Img471jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T13:23:22</CreateDate>
    <NodeName Default="Img-47 1.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/axjnd1b1/img-47-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>