<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d926958-7a39-4a10-b61a-bbda2f84640a" Alias="Img-1-4 1.jpg" Level="2">
  <Info>
    <Parent Key="e70edf1d-c1fd-45ba-a953-809a4abec26b">services</Parent>
    <Path>/services/Img141jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T13:23:22</CreateDate>
    <NodeName Default="Img-1-4 1.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/04rnjg0q/img-1-4-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>