<?xml version="1.0" encoding="utf-8"?>
<Media Key="658764de-26c5-4609-840d-50c8f0554317" Alias="img_choose_01_home01 L.jpg" Level="2">
  <Info>
    <Parent Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af">About</Parent>
    <Path>/About/img_choose_01_home01Ljpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-21T09:09:41</CreateDate>
    <NodeName Default="img_choose_01_home01 L.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kgxmdu3m/img_choose_01_home01-l.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>