<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dfc6ec4-3fdd-41eb-a314-d7d791634c6b" Alias="img_choose_01_home01 1.jpg" Level="2">
  <Info>
    <Parent Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af">About</Parent>
    <Path>/About/img_choose_01_home011jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:03:38</CreateDate>
    <NodeName Default="img_choose_01_home01 1.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.4674592474567962,
    "top": 0.31045288688559775
  },
  "crops": [],
  "src": "/media/joslvo3u/img_choose_01_home01-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>