<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec88fa15-a11b-4551-87ec-b44244a01a85" Alias="Kevin-Gardner 1.jpg" Level="2">
  <Info>
    <Parent Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af">About</Parent>
    <Path>/About/KevinGardner1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:03:36</CreateDate>
    <NodeName Default="Kevin-Gardner 1.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tiym2wts/kevin-gardner-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>