<?xml version="1.0" encoding="utf-8"?>
<Media Key="798d3f0e-2f92-44d7-acc2-5e2ba1cca3d2" Alias="kevin-gardner.jpg" Level="2">
  <Info>
    <Parent Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af">About</Parent>
    <Path>/About/kevinGardnerjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:03:37</CreateDate>
    <NodeName Default="kevin-gardner.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qh0nxt51/kevin-gardner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>