<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1c144c7-9be2-4d4f-a3b7-f579f0a81add" Alias="logotype.svg" Level="2">
  <Info>
    <Parent Key="ec947cd5-de91-42af-bbd7-96611e7f01ef">Generic</Parent>
    <Path>/Generic/logotypesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T08:15:57</CreateDate>
    <NodeName Default="logotype.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gx2hga5z/logotype.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>