<?xml version="1.0" encoding="utf-8"?>
<Media Key="be5b4008-e716-45f6-8081-ac2dfb2bf246" Alias="map 1.jpg" Level="2">
  <Info>
    <Parent Key="48c2aa34-6db5-4d88-b2d2-9131ddc4f708">contact</Parent>
    <Path>/contact/map1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T13:23:04</CreateDate>
    <NodeName Default="map 1.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q4fb0cd5/map-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>