<?xml version="1.0" encoding="utf-8"?>
<Media Key="292e433e-f4fd-4b22-bf92-c10b161c780b" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="5a7d93c7-5b2f-4963-b8ad-711dac8184af">About</Parent>
    <Path>/About/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T09:05:11</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zt5izs5g/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>