<?xml version="1.0" encoding="utf-8"?>
<Media Key="2eb5c7bc-c337-4be8-bbb8-dfd78afe8c50" Alias="OnlineSignatures.net-302 1.svg" Level="2">
  <Info>
    <Parent Key="6e42b5ce-5c7b-4085-ada6-15bf5ac0ff18">Home</Parent>
    <Path>/Home/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T09:03:50</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jz3bptbm/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>