<?xml version="1.0" encoding="utf-8"?>
<Media Key="aded7339-c671-4ca2-8b08-11986cada3ef" Alias="partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T10:54:15</CreateDate>
    <NodeName Default="partners" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>