<?xml version="1.0" encoding="utf-8"?>
<Media Key="36f57919-a583-42f3-9cff-4d5359d83d6f" Alias="Partners.jpg" Level="2">
  <Info>
    <Parent Key="aded7339-c671-4ca2-8b08-11986cada3ef">partners</Parent>
    <Path>/partners/Partnersjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T10:54:28</CreateDate>
    <NodeName Default="Partners.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s0zlhahk/partners.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>