<?xml version="1.0" encoding="utf-8"?>
<Media Key="41e1bacf-8ea5-458b-8e98-30e347c7f77b" Alias="pj1.jpg" Level="2">
  <Info>
    <Parent Key="35838f10-87e9-41bd-9c99-62ce4a6a9bb1">Projects</Parent>
    <Path>/Projects/pj1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T09:59:54</CreateDate>
    <NodeName Default="pj1.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ibykp34m/pj1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>