<?xml version="1.0" encoding="utf-8"?>
<Media Key="679c92cd-10a2-4dc8-97e3-22c5030745cf" Alias="pj3.jpg" Level="2">
  <Info>
    <Parent Key="35838f10-87e9-41bd-9c99-62ce4a6a9bb1">Projects</Parent>
    <Path>/Projects/pj3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T09:59:55</CreateDate>
    <NodeName Default="pj3.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ijmnvuol/pj3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>