<?xml version="1.0" encoding="utf-8"?>
<Media Key="19e564e2-7a36-468d-a7e8-37c8f5274439" Alias="pj4.jpg" Level="2">
  <Info>
    <Parent Key="35838f10-87e9-41bd-9c99-62ce4a6a9bb1">Projects</Parent>
    <Path>/Projects/pj4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T09:59:55</CreateDate>
    <NodeName Default="pj4.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nwxkhl05/pj4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>