<?xml version="1.0" encoding="utf-8"?>
<Media Key="5051ec21-8829-4e45-8083-a1589fc890a8" Alias="post2 1.jpg" Level="2">
  <Info>
    <Parent Key="e70edf1d-c1fd-45ba-a953-809a4abec26b">services</Parent>
    <Path>/services/post21jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:04:01</CreateDate>
    <NodeName Default="post2 1.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vytbpzsa/post2-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>