<?xml version="1.0" encoding="utf-8"?>
<Media Key="35838f10-87e9-41bd-9c99-62ce4a6a9bb1" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-13T09:59:45</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>