<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb68ec1a-9152-4c50-a8c7-be8ccc7d7946" Alias="projects-image.jpg" Level="2">
  <Info>
    <Parent Key="35838f10-87e9-41bd-9c99-62ce4a6a9bb1">Projects</Parent>
    <Path>/Projects/projectsImagejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:28:12</CreateDate>
    <NodeName Default="projects-image.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sutc2tj1/projects-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>