<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c446f9d-a897-40d5-b933-18b91ad9c578" Alias="projects2-image.jpg" Level="2">
  <Info>
    <Parent Key="35838f10-87e9-41bd-9c99-62ce4a6a9bb1">Projects</Parent>
    <Path>/Projects/projects2Imagejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T10:38:27</CreateDate>
    <NodeName Default="projects2-image.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cksbekx4/projects2-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>