<?xml version="1.0" encoding="utf-8"?>
<Media Key="7faf27ae-a9a8-4ffd-972f-a49013145d8d" Alias="Rectangle.svg" Level="2">
  <Info>
    <Parent Key="e70edf1d-c1fd-45ba-a953-809a4abec26b">services</Parent>
    <Path>/services/Rectanglesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T09:04:02</CreateDate>
    <NodeName Default="Rectangle.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lsna1hnt/rectangle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>