<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8573f2f-b0b5-4394-a511-77a02e6ea23a" Alias="Rectangle-bg2.svg" Level="2">
  <Info>
    <Parent Key="ec947cd5-de91-42af-bbd7-96611e7f01ef">Generic</Parent>
    <Path>/Generic/RectangleBg2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T08:15:21</CreateDate>
    <NodeName Default="Rectangle-bg2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1wbpkgvo/rectangle-bg2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>