<?xml version="1.0" encoding="utf-8"?>
<Media Key="e70edf1d-c1fd-45ba-a953-809a4abec26b" Alias="services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-06T09:02:35</CreateDate>
    <NodeName Default="services" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>