<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3f49b09-f489-4b58-958f-4b6f756351cc" Alias="services-1.png" Level="2">
  <Info>
    <Parent Key="e70edf1d-c1fd-45ba-a953-809a4abec26b">services</Parent>
    <Path>/services/services1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T09:04:02</CreateDate>
    <NodeName Default="services-1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qzilebpa/services-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>