<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dc8e8fe-a65e-4dae-ae21-a6de5d1c051d" Alias="signature.svg" Level="2">
  <Info>
    <Parent Key="ec947cd5-de91-42af-bbd7-96611e7f01ef">Generic</Parent>
    <Path>/Generic/signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T08:16:08</CreateDate>
    <NodeName Default="signature.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brkhvt0f/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>